#body {
  display: flex;
  flex-flow: column nowrap ;
  align-items: center;
}

#calculator-container {
  display: flex;
  flex-flow: column nowrap;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.10);
}

#display {
  display: flex;
  flex-flow: row-reverse nowrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 220px;
  height: 60px;
}

#display p {
  margin-right: 15px;
  font-size: large;
  width: 220px;
  height: 60px;
  text-align: right;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

#removal-buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  height: 40px;
}

#removal-buttons button {
  flex-grow: 1;
}

#clear {
  margin-right: 5px;
  padding: 0px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
}

#delete {
  margin-left: 5px;
  padding: 0px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
}

#buttons-container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px; 
  column-gap: 5px;
  row-gap: 10px;
}


.button button {
  height: 50px;
  width: 50px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
  padding: 0px;
  border: 0px;
}